[Unit]
Description=Temperature Monitoring Display
After=network.target t_mon.service

[Service]
ExecStart=/home/pi/t_mon/t_web.py 
User=pi
Group=pi
KillMode=process
Restart=always
Type=simple
WorkingDirectory=/home/pi/t_mon

[Install]
WantedBy=multi-user.target

