<!-- BASE=t_mon_layout.html -->
<!-- BEGIN=content -->
<style>
   td.low { background-color:lightblue;}
   td.med { background-color:lightgreen;}
   td.high { background-color:orangered ;}
   tr.odd { color: #000000;}
   tr.even { color:#0000A7;}
   div.i
   d { font-size:1.7em }
   div.calc_block { border: 1px #443333 solid; background-color:#AABBAA; }
   div.raw_block { border: 1px #443333 solid; background-color:#AABBDD; }
   div.ll { margin-top:7px; font-size:21px; color:red; }

   #flot-t_plot{
      height:300px;

    }

</style>

<div class="row">
   <div class="col">

      <table class="table table-dark">
      <caption align="top">Last Measurement</caption>
      <tr><th>Time</th><th>Device ID</th><th>Temperature</th></tr>
      <!-- BEGIN=t_row -->
      <tr><td>$time_str</td><td>$dev_id</td><td>$temp_f F&deg;</td></tr>
      <!-- END=t_row -->
      <!-- BEGIN=no_last -->
      <tr style="color:red;"><td colspan="99">No Temperature Measurement</td></tr>
      <tr><td colspan="99">Is /home/pi/t_mon/t_mon.py running?</td></tr>
      <!-- END=no_last -->
      </table>

      <!-- BEGIN=stale_warn -->
      <h3 style="color:red;margin-top:10px;margin-bottom:25px;">
      Temp Measurement is stale.<br>Is service t_mon.py running?
      </h3>
      <!-- END=stale_warn -->

   </div>
</div>

<div class="row">
   <div class="col">
      <h3>Power Down Log <span style="font-size:12px;">last three</span></h3>
      <!-- BEGIN=log_row -->
      <div class="ll"> $log_line </div>
      <!-- END=log_row -->
      <!-- BEGIN=no_events -->
      <div style="color:green;font-weight:bold;"> No Power Down Events Since Last Boot $uptime_str ago </div>
      <!-- END=no_events -->
   </div>
</div>

<div class="row" style="margin-top:10px;">
   <div class="col">
      <hr>
      <h2>Trends</h2>
      <div id="flot-t_plot"></div>
   </div>
</div>

<div class="row">
   <div class="col-xs-12" style="text-align:right;font-size:.7em;margin-top:50px;">
      Version: $version
   </div>
</div>

<script type="text/javascript">
var plot_data = [ { label: "Foo", data: [ [10, 1], [17, -14], [30, 5] ] },
  { label: "Bar", data: [ [11, 13], [19, 11], [30, -7] ] }
]

var plot_options = {
    series: {
        lines: { show: true },
        points: { show: true }
    },
    xaxis: {
      mode: "time",
      timezone: "browser",
      timeformat: "%H:%M"
    }
};

$(document).ready(function(){
   $.plot($("#flot-t_plot"), $plot_data , plot_options)
});


</script>


<!-- END=content -->
<!-- BEGIN=jscript -->
<script id="source" language="javascript" type="text/javascript">
   $(document).ready( function(arg) {

     $("#refresh").click( function(){ rtUpdate() } );

   });

   // ---------------------------------------
   rtUpdate = function(arg)
   {
     //this.prefix = arg.prefix;

     var jqxhr = $.ajax(
     {
       url: "/stastic/status.json",
       context:this,
       dataType: "json",
     })
     .done( successHndl )
     .fail( function( xhr, status, errorThrown ) {
       console.log( "Error: " + errorThrown );
       console.log( "Status: " + status );
       console.dir( xhr )

       // restart
       interval = setTimeout( rtUpdate, 100000);
     });

     //-------------------------------------------
     function successHndl_innerHTML(data, textStatus, xhr) {

         for ( var id_param in data ) {

             //alert(id_rtn); alert(data[id_rtn]);
             var id_obj = document.getElementById(id_param);

             var regex = RegExp("^flot-");
             if ( regex.test(id_param) )
             {
                $.plot(id_param, data[id_param], plot_options);
                continue;
             }

             if ( id_obj )
             {
                 id_obj.innerHTML = data[id_param];
             }
         }

         //postSuccess(data);

         interval = setTimeout( rtUpdate, 1000);
     };
   };

   var cnt = 0;
   var gps_msec_last = 0;
   var spin_inx = 1;
   var spin = ["|", "/", "--", "\\"];
   var spin = ["<", "<<", "<<<", "<<<<"];
   // ---------------------------------------
   postSuccess = function(data)
   {

    var gps_msec = data['timestamp'] * 1000;
    if ( gps_msec_last != gps_msec )
    {
       spin_inx++;
       spin_inx = spin_inx % spin.length;
       $('#spinner').text(spin[spin_inx]);
       $('#spinner').css('color','green');
    }
    else
    {
       $('#spinner').css('color','red');
    }

    if ( data['qlt'] >= 4 )
    {
       $('#qlt').css('background-color','#007707');
    }
    else
    {
       $('#qlt').css('background-color','#BB0007');
    }

    cnt++;
    if ( cnt > 10 )
    {
       //console.log(data)
       cnt = 0;
    }

   }


   rtUpdate();
   // setInterval( rtUpdate, 2000 );
</script>
<!-- END=jscript -->
